<a href="https://colab.research.google.com/github/sujanchikkela/CMPE255_Project/blob/main/code/Bike_Sharing_Forecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = pd.read_csv("dataset.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               2922 non-null   object
 1   temp_avg           2922 non-null   object
 2   temp_min           2922 non-null   float64
 3   temp_max           2922 non-null   float64
 4   temp_observ        2922 non-null   float64
 5   precip             2922 non-null   float64
 6   wind               2922 non-null   float64
 7   wt_fog             2922 non-null   object
 8   wt_heavy_fog       2922 non-null   object
 9   wt_thunder         2922 non-null   object
 10  wt_sleet           2922 non-null   object
 11  wt_hail            2922 non-null   object
 12  wt_glaze           2922 non-null   object
 13  wt_haze            2922 non-null   object
 14  wt_drift_snow      2922 non-null   object
 15  wt_high_wind       2922 non-null   object
 16  wt_mist            2922 non-null   object
 17  wt_drizzle         2922 non-null   object
 18  wt_rain            2922 non-null   object
 19  wt_freeze_rain     2922 non-null   object
 20  wt_snow            2922 non-null   object
 21  wt_ground_fog      2922 non-null   object
 22  wt_ice_fog         2922 non-null   object
 23  wt_freeze_drizzle  2922 non-null   object
 24  wt_unknown         2922 non-null   object
 25  casual             2922 non-null   object
 26  registered         2922 non-null   object
 27  total_cust         2922 non-null   object
 28  holiday            2922 non-null   object
dtypes: float64(5), object(24)
memory usage: 662.1+ KB

In [5]:
df

,date,temp_avg,temp_min,temp_max,temp_observ,precip,wind,wt_fog,wt_heavy_fog,wt_thunder,...,wt_freeze_rain,wt_snow,wt_ground_fog,wt_ice_fog,wt_freeze_drizzle,wt_unknown,casual,registered,total_cust,holiday
0,2011-01-01,?,-1.566667,11.973333,2.772727,0.069333,2.575000,1.0,?,?,...,?,?,?,?,?,?,330.0,629.0,959.0,?
1,2011-01-02,?,0.880000,13.806667,7.327273,1.037349,3.925000,1.0,1.0,?,...,?,?,?,?,?,?,130.0,651.0,781.0,?
2,2011-01-03,?,-3.442857,7.464286,-3.060000,1.878824,3.625000,?,?,?,...,?,?,?,?,?,?,120.0,1181.0,1301.0,?
3,2011-01-04,?,-5.957143,4.642857,-3.100000,0.000000,1.800000,?,?,?,...,?,?,?,?,?,?,107.0,1429.0,1536.0,?
4,2011-01-05,?,-4.293333,6.113333,-1.772727,0.000000,2.950000,?,?,?,...,?,?,?,?,?,?,82.0,1489.0,1571.0,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,2018-12-27,3.5,-3.591667,9.125000,-1.055556,0.024096,2.100000,1.0,?,?,...,?,?,?,?,?,?,1150.0,4280.0,5430.0,?
2918,2018-12-28,8.233333333333333,0.608333,11.208333,8.088889,16.843820,2.000000,1.0,1.0,?,...,?,?,?,?,?,?,166.0,1959.0,2125.0,?
2919,2018-12-29,9.5,3.925000,12.416667,5.311111,11.550575,3.666667,1.0,1.0,?,...,?,?,?,?,?,?,1756.0,4252.0,6008.0,?
2920,2018-12-30,4.8,0.816667,11.066667,2.088889,0.104651,1.200000,?,?,?,...,?,?,?,?,?,?,1295.0,3634.0,4929.0,?
2921,2018-12-31,4.166666666666667,0.250000,8.516667,4.444444,2.088235,1.466667,1.0,1.0,1.0,...,?,?,?,?,?,?,229.0,2172.0,2401.0,?

In [10]:
df.replace(to_replace = '?', value = np.NaN,inplace=True)

In [12]:
df.columns

Index(['date', 'temp_avg', 'temp_min', 'temp_max', 'temp_observ', 'precip',
       'wind', 'wt_fog', 'wt_heavy_fog', 'wt_thunder', 'wt_sleet', 'wt_hail',
       'wt_glaze', 'wt_haze', 'wt_drift_snow', 'wt_high_wind', 'wt_mist',
       'wt_drizzle', 'wt_rain', 'wt_freeze_rain', 'wt_snow', 'wt_ground_fog',
       'wt_ice_fog', 'wt_freeze_drizzle', 'wt_unknown', 'casual', 'registered',
       'total_cust', 'holiday'],
      dtype='object')

In [13]:
NaN_to_0_columns = ['wt_fog', 'wt_heavy_fog', 'wt_thunder', 'wt_sleet', 'wt_hail',
       'wt_glaze', 'wt_haze', 'wt_drift_snow', 'wt_high_wind', 'wt_mist',
       'wt_drizzle', 'wt_rain', 'wt_freeze_rain', 'wt_snow', 'wt_ground_fog',
       'wt_ice_fog', 'wt_freeze_drizzle', 'wt_unknown']

In [14]:
for i in NaN_to_0_columns:
  df[i].fillna(0,inplace = True)

In [15]:
df

,date,temp_avg,temp_min,temp_max,temp_observ,precip,wind,wt_fog,wt_heavy_fog,wt_thunder,...,wt_freeze_rain,wt_snow,wt_ground_fog,wt_ice_fog,wt_freeze_drizzle,wt_unknown,casual,registered,total_cust,holiday
0,2011-01-01,NaN,-1.566667,11.973333,2.772727,0.069333,2.575000,1.0,0,0,...,0,0,0,0,0,0,330.0,629.0,959.0,NaN
1,2011-01-02,NaN,0.880000,13.806667,7.327273,1.037349,3.925000,1.0,1.0,0,...,0,0,0,0,0,0,130.0,651.0,781.0,NaN
2,2011-01-03,NaN,-3.442857,7.464286,-3.060000,1.878824,3.625000,0,0,0,...,0,0,0,0,0,0,120.0,1181.0,1301.0,NaN
3,2011-01-04,NaN,-5.957143,4.642857,-3.100000,0.000000,1.800000,0,0,0,...,0,0,0,0,0,0,107.0,1429.0,1536.0,NaN
4,2011-01-05,NaN,-4.293333,6.113333,-1.772727,0.000000,2.950000,0,0,0,...,0,0,0,0,0,0,82.0,1489.0,1571.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,2018-12-27,3.5,-3.591667,9.125000,-1.055556,0.024096,2.100000,1.0,0,0,...,0,0,0,0,0,0,1150.0,4280.0,5430.0,NaN
2918,2018-12-28,8.233333333333333,0.608333,11.208333,8.088889,16.843820,2.000000,1.0,1.0,0,...,0,0,0,0,0,0,166.0,1959.0,2125.0,NaN
2919,2018-12-29,9.5,3.925000,12.416667,5.311111,11.550575,3.666667,1.0,1.0,0,...,0,0,0,0,0,0,1756.0,4252.0,6008.0,NaN
2920,2018-12-30,4.8,0.816667,11.066667,2.088889,0.104651,1.200000,0,0,0,...,0,0,0,0,0,0,1295.0,3634.0,4929.0,NaN
2921,2018-12-31,4.166666666666667,0.250000,8.516667,4.444444,2.088235,1.466667,1.0,1.0,1.0,...,0,0,0,0,0,0,229.0,2172.0,2401.0,NaN

In [22]:
df.isnull().sum()

date                    0
temp_avg              821
temp_min                0
temp_max                0
temp_observ             0
precip                  0
wind                    0
wt_fog                  0
wt_heavy_fog            0
wt_thunder              0
wt_sleet                0
wt_hail                 0
wt_glaze                0
wt_haze                 0
wt_drift_snow           0
wt_high_wind            0
wt_mist                 0
wt_drizzle              0
wt_rain                 0
wt_freeze_rain          0
wt_snow                 0
wt_ground_fog           0
wt_ice_fog              0
wt_freeze_drizzle       0
wt_unknown              0
casual                  4
registered              4
total_cust              4
holiday              2833
dtype: int64