In [34]:
import pandas as pd
import numpy as np

In [35]:
df_v2 =pd.read_csv("df_v2.csv")
df_v2.head()

,date,temp_avg,temp_min,temp_max,temp_observ,precip,wind,casual,registered,total_cust,...,rain,fog,ice,datetime,year,month,dayOfWeek,season_spring,season_summer,season_fall
0,2011-01-01,5.20,-1.57,11.97,2.77,0.07,2.58,330.0,629.0,959.0,...,1,1,0,2011-01-01,2011,January,Saturday,1,0,0
1,2011-01-02,7.34,0.88,13.81,7.33,1.04,3.92,130.0,651.0,781.0,...,1,1,0,2011-01-02,2011,January,Sunday,1,0,0
2,2011-01-03,2.01,-3.44,7.46,-3.06,1.88,3.62,120.0,1181.0,1301.0,...,0,0,0,2011-01-03,2011,January,Monday,1,0,0
3,2011-01-04,-0.66,-5.96,4.64,-3.10,0.00,1.80,107.0,1429.0,1536.0,...,0,0,0,2011-01-04,2011,January,Tuesday,1,0,0
4,2011-01-05,0.91,-4.29,6.11,-1.77,0.00,2.95,82.0,1489.0,1571.0,...,0,0,0,2011-01-05,2011,January,Wednesday,1,0,0

In [36]:
df_v2.describe()

,temp_avg,temp_min,temp_max,temp_observ,precip,wind,casual,registered,total_cust,holiday,rain,fog,ice,year,season_spring,season_summer,season_fall
count,2922.000000,2922.000000,2922.000000,2922.000000,2922.000000,2922.000000,2922.000000,2922.000000,2922.000000,2922.000000,2922.000000,2922.000000,2922.000000,2922.000000,2922.000000,2922.000000,2922.000000
mean,14.072317,8.506598,19.015674,11.069251,3.435623,3.163042,1677.561602,6042.021561,7719.583162,0.030459,0.323751,0.631417,0.094456,2014.499658,0.247091,0.249144,0.251882
std,9.536753,9.473867,9.835377,9.481130,8.183749,1.379595,1560.840858,2757.419767,3746.759171,0.171875,0.467986,0.482503,0.292512,2.291531,0.431394,0.432592,0.434168
min,-12.100000,-16.990000,-7.980000,-15.660000,0.000000,0.380000,2.000000,19.000000,21.000000,0.000000,0.000000,0.000000,0.000000,2011.000000,0.000000,0.000000,0.000000
25%,6.000000,0.520000,11.080000,3.015000,0.010000,2.200000,510.250000,3828.500000,4621.250000,0.000000,0.000000,0.000000,0.000000,2012.250000,0.000000,0.000000,0.000000
50%,14.770000,8.505000,19.990000,11.620000,0.270000,2.900000,1217.500000,5959.000000,7439.000000,0.000000,0.000000,1.000000,0.000000,2014.500000,0.000000,0.000000,0.000000
75%,22.800000,17.337500,27.877500,19.767500,2.887500,3.880000,2355.000000,8183.750000,10847.750000,0.000000,1.000000,1.000000,0.000000,2016.000000,0.000000,0.000000,1.000000
max,32.030000,26.210000,37.850000,28.670000,118.790000,12.750000,10173.000000,15419.000000,19113.000000,1.000000,1.000000,1.000000,1.000000,2018.000000,1.000000,1.000000,1.000000

In [37]:
df_v2.isnull().sum()

date             0
temp_avg         0
temp_min         0
temp_max         0
temp_observ      0
precip           0
wind             0
casual           0
registered       0
total_cust       0
holiday          0
rain             0
fog              0
ice              0
datetime         0
year             0
month            0
dayOfWeek        0
season_spring    0
season_summer    0
season_fall      0
dtype: int64

In [38]:
for col_name in df_v2.columns: 
    print(col_name)

date
temp_avg
temp_min
temp_max
temp_observ
precip
wind
casual
registered
total_cust
holiday
rain
fog
ice
datetime
year
month
dayOfWeek
season_spring
season_summer
season_fall

In [39]:
def seasons(df):
    df['season_spring'] = df['date'].apply(lambda x: 1 if '01' in x[5:7] else 1 if '02' in x[5:7] else 1 
                                                     if '03' in x[5:7] else 0)
    df['season_summer'] = df['date'].apply(lambda x: 1 if '04' in x[5:7] else 1 if '05' in x[5:7] else 1 
                                                     if '06' in x[5:7] else 0)
    df['season_fall'] = df['date'].apply(lambda x: 1 if '07' in x[5:7] else 1 if '08' in x[5:7] else 1 
                                                     if '09' in x[5:7] else 0)    
    return df

One hot encoding the weekday feature

In [40]:
df_v2 = seasons(df_v2)
day_of_week_columns = pd.get_dummies(df_v2['dayOfWeek'], prefix='dayOfWeek')
df_v2=df_v2.merge(day_of_week_columns, left_index=True, right_index=True)
df_v2=df_v2.join(weekday_dummies, how='left')
df_v2

,date,temp_avg,temp_min,temp_max,temp_observ,precip,wind,casual,registered,total_cust,...,rain,fog,ice,datetime,year,month,dayOfWeek,season_spring,season_summer,season_fall
0,2011-01-01,5.20,-1.57,11.97,2.77,0.07,2.58,330.0,629.0,959.0,...,1,1,0,2011-01-01,2011,January,Saturday,1,0,0
1,2011-01-02,7.34,0.88,13.81,7.33,1.04,3.92,130.0,651.0,781.0,...,1,1,0,2011-01-02,2011,January,Sunday,1,0,0
2,2011-01-03,2.01,-3.44,7.46,-3.06,1.88,3.62,120.0,1181.0,1301.0,...,0,0,0,2011-01-03,2011,January,Monday,1,0,0
3,2011-01-04,-0.66,-5.96,4.64,-3.10,0.00,1.80,107.0,1429.0,1536.0,...,0,0,0,2011-01-04,2011,January,Tuesday,1,0,0
4,2011-01-05,0.91,-4.29,6.11,-1.77,0.00,2.95,82.0,1489.0,1571.0,...,0,0,0,2011-01-05,2011,January,Wednesday,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,2018-12-27,3.50,-3.59,9.12,-1.06,0.02,2.10,1150.0,4280.0,5430.0,...,0,1,0,2018-12-27,2018,December,Thursday,0,0,0
2918,2018-12-28,8.23,0.61,11.21,8.09,16.84,2.00,166.0,1959.0,2125.0,...,0,1,0,2018-12-28,2018,December,Friday,0,0,0
2919,2018-12-29,9.50,3.93,12.42,5.31,11.55,3.67,1756.0,4252.0,6008.0,...,0,1,0,2018-12-29,2018,December,Saturday,0,0,0
2920,2018-12-30,4.80,0.82,11.07,2.09,0.10,1.20,1295.0,3634.0,4929.0,...,0,0,0,2018-12-30,2018,December,Sunday,0,0,0
2921,2018-12-31,4.17,0.25,8.52,4.44,2.09,1.47,229.0,2172.0,2401.0,...,1,1,0,2018-12-31,2018,December,Monday,0,0,0

In [41]:
df_v2['total_cust_log'] = np.log(df_v2['total_cust'])
df_v2['total_cust_diff'] = df_v2['total_cust_log']-df_v2['total_cust_log'].shift(periods=1, freq=None, axis=0, fill_value=0)

In [42]:
df_v2.drop(columns=['month','dayOfWeek','datetime','date'], inplace=True)

In [43]:
for col_name in df_v2.columns: 
    print(col_name)

temp_avg
temp_min
temp_max
temp_observ
precip
wind
casual
registered
total_cust
holiday
rain
fog
ice
year
season_spring
season_summer
season_fall
total_cust_log
total_cust_diff

In [44]:
#df_v2.to_csv('dataset_ohe.csv', index=False)
df_v2.to_csv('dataset_catboost.csv', index=False)